<div class="time-master calendar">
  <div class="avisits-date">
    <button class="slick-prev slick-arrow" (click)="prevDate()"></button>
    <div
      class="avisits-date_slider"
      [ngStyle]="{'transform': 'translate3d(' + positionSlider + 'px, 0px, 0px)'}"
      [style.width.px]="calendarLength">
      <div class="avisits-item" *ngFor="let date of myOwnCalendarDays">
        <div class="avisits-col"
             (click)="onSelectDate(date)"
             [class.avisits-active]="date === selectedDate">
          <a>
            <p class="bold">{{date.weekday}}</p>
            <p>{{date.day}} {{date.month}}</p>
          </a>
        </div>
      </div>
    </div>
    <button class="slick-next slick-arrow" (click)="nextDate()"></button>
  </div>
</div>
