<div class="time-master calendar">
  <div class="avisits-date">
    <button class="slick-prev slick-arrow" (click)="prevDate()"></button>
    <div
      class="avisits-date_slider"
      [ngStyle]="{'transform': 'translate3d(' + positionSlider + 'px, 0px, 0px)'}"
      [style.width.px]="calendarLength">
      <div class="avisits-item" *ngFor="let date of myOwnCalendarDays">
        <div class="avisits-col"
             (click)="onSelectDate(date)"
             [class.disabled]="date.working_status === 0">
          <a
            (mouseover)="hoverStyleOn(date)" (mouseleave)="hoverStyleOff(date)"
            [ngStyle]="ngStyleMethod(date)">
            <p [ngStyle]="ngStyleMethodP(date)" class="bold">{{date.weekday}}</p>
            <p [ngStyle]="date === selectedDate && {'color': 'white'}">{{date.day}} {{date.month}}</p>
          </a>
        </div>
      </div>
    </div>
    <button class="slick-next slick-arrow" (click)="nextDate()"></button>
  </div>
</div>
