<div class="choose-options choose-options-top address-master bordered">
  <div class="choose-options-logo"><img src="assets/images/icons/logo.png"></div>
  <div class="choose-options-container">
    <div class="choose-options-inner-container">


      <div class="choose-option" *ngFor="let navbar of sequence; let i = index" [ngClass]="{'active': i + 1 === active}">
        <div class="choose-option-inner">
          <p class="choose-option-num">{{i + 1}}</p>
          <p>
            <span>{{navbarMasters[navbar].title1}}</span>
            <span>{{navbarMasters[navbar].title2}}</span>
          </p>
        </div>
      </div>


    </div>
  </div>
</div>



<div class="choose-options choose-options-top-responsive address-master bordered">
  <div class="choose-options-logo"><img src="assets/images/icons/logo.png"></div>
  <div class="choose-options-top-container">
    <div class="choose-option-num-container">

      <ng-container *ngFor="let navbar of sequence; let i = index" >
        <p class="choose-option-num" [ngClass]="{'active': i + 1 === active}">{{i+1}}</p>
        <span *ngIf="sequence.length - 1 !== i">-</span>
      </ng-container>

    </div>
    <div class="choose-option-title">Выберите адрес</div>
  </div>
</div>


