<div class="choose-options choose-options-top address-master bordered">
  <div class="choose-options-logo"><img src="assets/images/icons/logo.png"></div>
  <div class="choose-options-container">
    <div class="choose-options-inner-container">


      <div class="choose-option" *ngFor="let navbar of chackedNavbar" [ngClass]="{'active': navbar.active === active}">
        <div class="choose-option-inner">
          <p class="choose-option-num">{{navbar.stage}}</p>
          <p>
            <span>{{navbar.title1}}</span>
            <span>{{navbar.title2}}</span>
          </p>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="choose-options choose-options-top-responsive address-master bordered">
  <div class="choose-options-logo"><img src="assets/images/icons/logo.png"></div>
  <div class="choose-options-top-container">
    <div class="choose-option-num-container">

      <ng-container *ngFor="let navbar of chackedNavbar; let i = index" >
        <p class="choose-option-num" [ngClass]="{'active': navbar.active === active}">{{i+1}}</p>
        <span *ngIf="chackedNavbar.length - 1 !== i">-</span>
      </ng-container>


    </div>
    <div class="choose-option-title">Выберите адрес</div>
  </div>
</div>

