<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose()"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">

        <app-header-nav></app-header-nav>

        <div class="choose-options-content services-service-content bordered clearfix">

          <app-sidebar></app-sidebar>

          <div class="content-right-block services-service-right-block">
            <div class="content-right-block-first services-service-right-block-first">


              <div
                class="services-service-right-block-first-item"
                *ngFor="let master of masters"
                (click)="onSelectMaster(master)"
                [class.active]="master === selectedMaster"
              >
                <div class="services-service-master-title-block">
                  <a class="services-service-title-block-back-btn"><img
                    src="assets/images/svg/arrow-dark-gray.svg"></a>
                  <div
                    class="services-service-pic-container"
                    [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + master.photo + ')'}"
                  >
                  </div>
                  <span>
                      <p>{{master.first_name}} {{master.last_name}}</p>
                    <!--<p>Сергеева<p>-->
                    <!--<p>Анна</p>-->
										</span>
                </div>
                <div class="services-service-master-info">
                  <p class="services-service-master-position">{{master.position.title}}</p>
                  <p class="services-service-count-container"><span class="services-service-count bold">1</span> &nbsp;
                    услуга выбрана</p>
                </div>
              </div>


            </div>
            <div class="content-right-block-second services-service-right-block-second">
              <form class="services-service-search">
                <div class="search">
                  <input type="text" class="searchTerm" placeholder="Введите название услуги">
                  <button type="submit" class="searchButton">
                    <img src="assets/images/icons/search-orange.png">
                  </button>
                </div>
              </form>


              <div class="services-master-service-list">
                <p class="services-master-service-list-title bold">Стрижки</p>
                <table class="">
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка горячими ножницами</td>
                    <td>1ч &nbsp; 90м</td>
                    <td>2 000 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка</td>
                    <td>1ч &nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="active">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Окрашивание волос</td>
                    <td>1ч &nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                </table>
              </div>


              <div class="services-master-service-list">
                <p class="services-master-service-list-title bold">Укладки</p>
                <table class="">
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка горячими ножницами</td>
                    <td>1ч &nbsp; 90м</td>
                    <td>2 000 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка</td>
                    <td>1ч&nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="active">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Окрашивание волос</td>
                    <td>1ч&nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                </table>
              </div>


            </div>
          </div>
        </div>



        <!-- Master Chosen -->
        <div
          *ngIf="showSelectedMasterForMobile"
          class="choose-options-content services-service-content bordered services-service-master-chosen clearfix">

          <div class="content-right-block services-service-right-block">
            <div class="content-right-block-first services-service-right-block-first">

              <div class="services-service-right-block-first-item active" (click)="backToAllMasterOnMobile()">
                <div class="services-service-master-title-block">
                  <a class="services-service-title-block-back-btn"><img
                    src="assets/images/svg/arrow-dark-gray.svg"></a>
                  <div
                    class="services-service-pic-container"
                    [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + selectedMaster.photo + ')'}"
                  >
                  </div>
                  <span>
                    <p>{{selectedMaster.first_name}} {{selectedMaster.last_name}}</p>
											<!--<p>Сергеева<p> &nbsp;-->
											<!--<p>Анна</p>-->
									<div class="services-service-master-info">
										<p class="services-service-master-position">{{selectedMaster.position.title}}</p>
									</div>
										</span>
                </div>
              </div>
            </div>


            <div class="content-right-block-second services-service-right-block-second">

              <!-- Search Form Chosen Master -->
              <form class="services-service-search">
                <div class="search">
                  <input type="text" class="searchTerm" placeholder="Введите название услуги">
                  <button type="submit" class="searchButton">
                    <img src="assets/images/icons/search-orange.png">
                  </button>
                </div>
              </form>
              <!-- End Search Form Chosen Master -->

              <!-- Services Chosen Master -->
              <div class="services-master-service-list">
                <p class="services-master-service-list-title bold">Стрижки</p>
                <table class="">
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка горячими ножницами</td>
                    <td>1ч &nbsp; 90м</td>
                    <td>2 000 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка</td>
                    <td>1ч &nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="active">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Окрашивание волос</td>
                    <td>1ч&nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                </table>
              </div>
              <div class="services-master-service-list">
                <p class="services-master-service-list-title bold">Укладки</p>
                <table class="">
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка горячими ножницами</td>
                    <td>1ч&nbsp; 90м</td>
                    <td>2 000 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Стрижка</td>
                    <td>1ч &nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                  <tr class="active">
                    <td>
                      <input type="checkbox" name="">
                      <label></label>
                    </td>
                    <td>Окрашивание волос</td>
                    <td>1ч &nbsp; 45м</td>
                    <td>900 <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                </table>
              </div>
              <!-- End Services Chosen Master -->
            </div>



          </div>
        </div>
        <!-- End Master Chosen -->






        <!-- Master Not Chosen -->
        <div
          *ngIf="!showSelectedMasterForMobile"
          class="choose-options-content services-service-content bordered services-service-master-not-chosen clearfix">


          <div class="content-right-block services-service-right-block">
            <div class="content-right-block-first services-service-right-block-first">


              <div
                class="services-service-right-block-first-item"
                *ngFor="let master of masters"
                (click)="goToSelectedMaster(master)"
                [class.active]="master === selectedMaster"
              >
                <div class="services-service-master-title-block">
                  <div
                    class="services-service-pic-container"
                    [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + master.photo + ')'}">
                    <!-- <img src="assets/images/master-pic.png"> -->
                  </div>
                  <span>
                    <p>{{master.first_name}} {{master.last_name}}</p>
											<!--<p>Сергеева<p>&nbsp;-->
											<!--<p>Анна</p>-->
										</span>
                </div>
                <div class="services-service-master-info">
                  <p class="services-service-master-position">{{master.position.title}}</p>
                  <p class="services-service-count-container">
                    <span class="services-service-count bold"> 1 </span>
                    &nbsp;
                    услуга выбрана
                  </p>
                </div>


              </div>
            </div>
          </div>



          <span class="services-count-result responsive">Добавлено:
            <span class="bold">3</span> &nbsp; услуги на сумму
            <span class="bold">12 000</span>
            <span><img src="assets/images/icons/ruble.png"></span>
          </span>


        </div>
        <!-- End Master Not Chosen -->

        <div class="nav-bottom services-service-bottom bordered">
          <button (click)="goBack()" class="semi-bold pull-left">
            <div
              class="back nav-bottom-back nav-bottom-item services-service-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </button>
          <span class="services-count-result">Добавлено: <span class="bold">3</span>  &nbsp; услуги на сумму <span
            class="bold">12 000</span> <span><img src="assets/images/icons/ruble.png"></span></span>
          <button (click)="goNext('select-date-time')" class="semi-bold pull-right">
            <div
              class="next nav-bottom-next nav-bottom-item services-service-bottom-item address-master-bottom-next pull-right">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </button>
        </div>



      </div>
    </div>
  </div>
</div>


<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
