<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose()"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">

        <app-header-nav></app-header-nav>

        <div class="choose-options-content address-master-content">
          <div class="address-master-toggle">
            <span class="bold"><label for="switch_mode">Списком</label></span>
            <div class="address-master-switch">
              <label class="switch">
                <input type="checkbox" id="switch_mode" (change)="switchMode($event)">
                <span class="slider round"></span>
              </label>
            </div>
            <span class="bold active"><label for="switch_mode">На карте</label></span>
          </div>
          <div class="addresses-box address-master" [ngClass]="{'switcherMode': switcherMode}">

            <div class="force-overflow" id="scrollbox">


              <app-loader *ngIf="loader"></app-loader>

              <div
                (mouseover)="changeHoverM($event, salon)" (mouseleave)="changeHoverM($event, salon)"

                class="addresses-box-item item"
                *ngFor="let salon of salons"
                (click)="onSelectSalon(salon)"
                [ngStyle]="salon === selectedSalon && selectStyle()">
                <label class="check-container">
                  <div class="addresses-box-pic-container"
                       [ngStyle]="{'background': 'url(http://api.avisits.com/' + salon.img + ')'}">
                  </div>
                  <div class="addresses-box-info-container">
                    <p class="semi-bold">{{salon.address}}</p>
                    <p>
                      <span>Площадь мужества</span>
                    </p>
                  </div>
                  <input type="radio" name="radio">
                  <span class="checkmark" [ngStyle]="salon === selectedSalon && radioStyle()"></span>
                </label>
              </div>


            </div>
          </div>
          <div class="map-container address-master-map-container" [ngClass]="{'switcherMode': !switcherMode}">


            <agm-map [latitude]="cityLocation.lat" [longitude]="cityLocation.lng" [zoom]="zoom" style="height: 100%;">
              <agm-marker
                *ngFor="let salon of salons"
                [latitude]="salon.latitude" [longitude]="salon.longitude">
                <agm-info-window>
                  <div class="addresses-box-item item">
                    <label class="check-container">
                      <div class="addresses-box-pic-container" style="display: inline">
                        <img src="assets/images/salon.png">
                      </div>
                      <div class="addresses-box-info-container" style="display: inline">
                        <p class="semi-bold">{{salon.address}}</p>
                        <p>
                          <img src="assets/images/svg/metro.svg" style="width: 5px">
                          <span>Площадь мужества</span>
                        </p>
                      </div>
                      <input type="radio" name="radio">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>


          </div>
        </div>
        <div class="nav-bottom address-master-bottom bordered">
          <button (click)="goBack()" class="semi-bold pull-left">
            <div
              class="back nav-bottom-back nav-bottom-item address-master-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </button>
          <button [disabled]="!selectedSalon" (click)="goNext()" class="semi-bold pull-right">
            <div
              class="next nav-bottom-next nav-bottom-item address-master-bottom-item address-master-bottom-next pull-right" [ngStyle]="radioStyle()">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
