<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose()"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">

        <app-header-nav></app-header-nav>

        <div class="choose-options-content address-master-content">
          <div class="address-master-toggle">
            <span class="bold"><label for="switch_mode">Списком</label></span>
            <div class="address-master-switch">
              <label class="switch">
                <input type="checkbox" id="switch_mode" (change)="switchMode($event)">
                <span class="slider round">
                  <span [ngStyle]="radioStyle()"></span>
                </span>
              </label>
            </div>
            <span class="bold" [ngStyle]="fontColor()"><label for="switch_mode">На карте</label></span>
          </div>
          <div class="addresses-box address-master" [ngClass]="{'cityListOnMobile': switcherMode}">

            <div class="force-overflow" id="scrollbox">
              <app-loader *ngIf="loader"></app-loader>
              <div
                (mouseover)="hoverStyleOn(salon)" (mouseleave)="hoverStyleOff(salon)"
                class="addresses-box-item item"
                *ngFor="let salon of salons"
                (click)="onSelectSalon(salon)"
                [ngStyle]="ngStyleMethod(salon)">
                <label class="check-container">
                  <div class="addresses-box-pic-container"
                       [ngStyle]="{'background': 'url(http://api.avisits.com/' + salon.img + ')'}">
                  </div>
                  <div class="addresses-box-info-container">
                    <p class="semi-bold">{{salon.address}}</p>
                    <p>
                      <span>Площадь мужества</span>
                    </p>
                  </div>
                  <!--<input type="radio" name="radio">-->
                  <span class="checkmark" [ngStyle]="salon === selectedSalon && radioStyle()"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="map-container address-master-map-container" [ngClass]="{'switcherMode': !switcherMode}">
            <agm-map [latitude]="cityLocation.lat" [longitude]="cityLocation.lng" [zoom]="zoom" style="height: 100%;">
              <agm-marker
                (mouseOver)="hoverStyleOn(salon)" (mouseOut)="hoverStyleOff(salon)"
                [iconUrl]="urlFunction(salon)"
                *ngFor="let salon of salons"
                [latitude]="salon.latitude" [longitude]="salon.longitude"
                (markerClick)="onSelectSalon(salon)">
              </agm-marker>
            </agm-map>
          </div>
        </div>
        <div class="nav-bottom address-master-bottom bordered nav-bottom-select-address-page">
          <button (click)="goBack()" class="semi-bold pull-left position-semi-bold-left">
            <div
              class="back nav-bottom-back nav-bottom-item address-master-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </button>
          <button [disabled]="!selectedSalon" (click)="goNext()" class="semi-bold pull-right position-semi-bold-right">
            <div
              class="next nav-bottom-next nav-bottom-item address-master-bottom-item address-master-bottom-next pull-right" [ngStyle]="radioStyle()">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
