<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose('hide', '')"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">
        <app-header-nav></app-header-nav>
        <div class="choose-options-content time-master-content bordered clearfix">
          <app-sidebar></app-sidebar>
          <div class="content-right-block time-master-right-block">
            <app-calendar (sendedDate)="getSelectedDate($event)"></app-calendar>
            <div class="time-master-book-schedule-container-all-inner">
              <ng-container *ngFor="let employeesService of employeesServices; let index = index">
                <div class="time-master-book-schedule-container">
                  <div class="time-master-title-block">
                    <div class="master-title-block-pic-container"
                         [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + employeesService.photo + ')'}">
                    </div>
                    <div class="master-title-block-text">
                      <p class="bold">{{employeesService.father_name}} {{employeesService.first_name}}</p>
                      <p class="time-master-master-position">{{employeesService.position.title}}</p>
                    </div>
                  </div>
                  <!-- SCHEDULE HERE -->
                  <div class="time-master-time-schedule">
                    <div class="table">
                      <div class="tr">
                        <div
                          class="td"
                          *ngFor="let time of employeesService.timesToDisplay; let i = index"
                          (click)="onSelectTime(time,employeesService, index)">
                          <a [ngStyle]="employeesService.time === time && timeClass()">{{time}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END SCHEDULE HERE -->
                  <div class="clearfix"></div>
                  <div class="time-master-service-list clearfix">
                    <table class="">
                      <tr class="" *ngFor="let service of employeesService.employeeServices">
                        <td>{{service.title}}</td>
                        <td>{{service.hour}}ч &nbsp; {{service.min}}м</td>
                        <td>{{service.price}}
                          <span>
                          <img src="assets/images/icons/ruble-gray.png" class="ruble-icon">
                          </span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="clearfix"></div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="nav-bottom address-master-bottom bordered">
          <button (click)="goBack()" class="pull-left">
            <div
              class="back nav-bottom-back nav-bottom-item address-master-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </button>
          <button (click)="goNext()" class="semi-bold pull-right">
            <div
              [ngStyle]="radioStyle()"
              class="next nav-bottom-next nav-bottom-item address-master-bottom-item address-master-bottom-next pull-right">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
