<button (click)="onStart()" *ngIf="start === 'hide'">Widget</button>

<app-select-city *ngIf="start === 'show' && status === 'select-city'"></app-select-city>
<app-select-address *ngIf="start === 'show' && status === 'select-address'"></app-select-address>
<app-indicate-contacts *ngIf="start === 'show' && status === 'indicate-contacts'"></app-indicate-contacts>
<!-- Master first -->
<app-select-master *ngIf="start === 'show' && status === 'select-master'"></app-select-master>
<app-select-services-master *ngIf="start === 'show' && status === 'select-services-master'"></app-select-services-master>
<!-- Service first -->
<app-select-services *ngIf="start === 'show' && status === 'select-services'"></app-select-services>

