<div class="content-left-block time-master-left-block ready-master-left-block">
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Город</p>
      <p>{{checkedInfo.city}}</p>
    </div>
  </div>
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Адрес</p>
      <p>{{checkedInfo.address}}</p>
    </div>
  </div>
  <div class="content-left-block-item" *ngIf="checkedInfo.contacts.email !== ''">
    <div>
      <p class="content-left-block-item-title">Контакты</p>
      <p>{{checkedInfo.contacts.name}}</p>
      <p>{{checkedInfo.contacts.tel}}</p>
      <p>{{checkedInfo.contacts.email}}</p>
    </div>
  </div>

  <div class="content-left-block-item" *ngIf="masters.length > 0">
    <div>
      <p class="content-left-block-item-title">Мастера</p>
      <!--<a href="" class="services-service-left-block-pic-container"></a>-->
      <a
        *ngFor="let master of masters"
        class="services-service-left-block-pic-container"
        style="background-image: url({{master.image}});"></a>
    </div>
  </div>

  <!--<div class="services-count-result-ready-master-left">
    <p class="bold color-default">Добавлено</p>
    <p><span class="bold color-default">3</span>&nbsp;услуги</p>
    <p>на сумму <span class="bold color-default">12 000</span>&nbsp;<span><img src="assets/images/icons/ruble.png" class="ruble-icon"></span></p>
  </div>-->

</div>


<!--<div class="content-left-block time-master-left-block">
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Город</p>
      <p>Санкт-Петербург</p>
    </div>
  </div>
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Адрес</p>
      <p>Непокоренных 10</p>
    </div>
  </div>
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Контакты</p>
      <p>Кира</p>
      <p>8 (800) 555-35-35</p>
      <p>kira@gmail.com</p>
    </div>
  </div>
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Мастера</p>
      <a href="" class="services-service-left-block-pic-container"></a>
      <a href="" class="services-service-left-block-pic-container" style="background-image: url(assets/images/master-pic4.png);"></a>
    </div>
  </div>
  <div class="content-left-block-item">
    <div class="services-count-result-time-master">
      <p class="bold color-default">Добавлено</p>
      <p><span class="bold color-default">3</span>&nbspуслуги</p>
      <p>на сумму <span class="bold color-default">12 000</span>&nbsp;<span><img src="assets/images/icons/ruble.png" class="ruble-icon"></span></p>
    </div>
  </div>
</div>-->
