<div class="content-left-block time-master-left-block ready-master-left-block">
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Город</p>
      <p>{{checkedInfo.city}}</p>
    </div>
  </div>
  <div class="content-left-block-item">
    <div>
      <p class="content-left-block-item-title">Адрес</p>
      <p>{{checkedInfo.address}}</p>
    </div>
  </div>
  <div class="content-left-block-item" *ngIf="checkedInfo.contacts.email !== ''">
    <div>
      <p class="content-left-block-item-title">Контакты</p>
      <p>{{checkedInfo.contacts.first_name}}</p>
      <p>{{checkedInfo.contacts.phone}}</p>
      <p>{{checkedInfo.contacts.email}}</p>
    </div>
  </div>

  <div class="content-left-block-item" *ngIf="masters.length > 0">
    <div>
      <p class="content-left-block-item-title">Мастера</p>
      <a
        *ngFor="let master of masters"
        class="services-service-left-block-pic-container"
        [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + master.photo + ')'}"></a>
    </div>
  </div>

  <div class="services-count-result-ready-master-left" *ngIf="priceAndCount.totalCount > 0">
    <p class="bold color-default">Добавлено</p>
    <p>
      <span class="bold color-default">
        {{priceAndCount.totalCount}}
      </span> &nbsp;
      услуги
    </p>
    <p>
      на сумму
      <span class="bold color-default">
        {{priceAndCount.totalPrice}}
      </span>&nbsp;<span>
      <img src="assets/images/icons/ruble.png" class="ruble-icon">
    </span>
    </p>
  </div>

</div>
