<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose('hide', '')"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">

        <app-header-nav></app-header-nav>

        <div class="choose-options-content services-service-content bordered clearfix">

          <app-sidebar></app-sidebar>


          <div class="content-right-block services-service-right-block services-master">


            <div class="content-right-block-first services-service-right-block-first">


              <div
                *ngFor="let service_cat of services_cat"
                class="services-service-right-block-first-item"
                (click)="onSelectServiceCat(service_cat)"
                [class.active]="service_cat === selected_service_cat">
                {{service_cat.title}}
              </div>
            </div>


            <div class="content-right-block-second services-service-right-block-second">
              <!-- SEARCH INPUT -->
              <form class="services-service-search">
                <div class="search">
                  <input
                    type="text"
                    class="searchTerm"
                    placeholder="Введите название услуги"
                    name="search"
                    [(ngModel)]="searchText">
                  <button type="submit" class="searchButton">
                    <img src="assets/images/icons/search-orange.png">
                  </button>
                </div>
              </form>
              <!-- END SEARCH INPUT -->

              <div *ngIf="selected_service_cat">
                <div
                  class="services-master-service-list"
                  *ngFor="let group of selected_service_cat.groups">
                  <p class="services-master-service-list-title bold">{{group.title}}</p>
                  <table class="">
                    <tr
                      [class.active]="service.checked === true"
                      *ngFor="let service of group.services | filter : searchText:'title'">
                      <td>
                        <input
                          type="checkbox"
                          name=""
                          [checked]="service.checked"
                          (change)="onSelectService(service, $event)">
                        <label></label>
                      </td>
                      <td>{{service.title}}</td>
                      <td>1ч &nbsp; 90м</td>
                      <td> {{service.price}} <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                    </tr>
                  </table>
                </div>
              </div>


            </div>
          </div>
        </div>


        <!-- Master Chosen -->
        <div
          *ngIf="showservicesFormobile === 'show'"
          class="choose-options-content services-service-content bordered services-service-master-chosen clearfix">

          <div class="content-right-block services-service-right-block services-master">
            <div
              class="content-right-block-first services-service-right-block-first"
              (click)="goToAllServicesOnMobile()">
              <div class="services-service-right-block-first-item active">
                <a href="" class="services-service-title-block-back-btn">
                  <img src="assets/images/svg/arrow-dark-gray.svg">
                </a>
                {{selected_service_cat.title}}
              </div>
            </div>


            <div class="content-right-block-second services-service-right-block-second">

              <!-- Search input -->
              <form class="services-service-search">
                <div class="search">
                  <input
                    type="text"
                    class="searchTerm"
                    placeholder="Введите название услуги"
                    name="search"
                    [(ngModel)]="searchText">
                  <button type="submit" class="searchButton">
                    <img src="assets/images/icons/search-orange.png">
                  </button>
                </div>
              </form>
              <!-- End search input -->

              <div class="services-master-service-list" *ngFor="let group of selected_service_cat.groups">
                <p class="services-master-service-list-title bold">{{group.title}}</p>
                <table class="">
                  <tr
                    [class.active]="service.checked === true"
                    *ngFor="let service of group.services | filter : searchText:'title'">
                    <td>
                      <input
                        type="checkbox"
                        name=""
                        [checked]="service.checked"
                        (change)="onSelectService(service, $event)">
                      <label></label>
                    </td>
                    <td>{{service.title}}</td>
                    <td>1ч &nbsp; 90м</td>
                    <td> {{service.price}} <span><img src="assets/images/icons/ruble-gray.png"></span></td>
                  </tr>
                </table>
              </div>

            </div>
          </div>


        </div>

        <!-- Master Not Chosen -->
        <div
          *ngIf="showservicesFormobile === 'hide'"
          class="choose-options-content services-service-content bordered services-service-master-not-chosen clearfix">


          <div class="content-right-block services-service-right-block">
            <div class="content-right-block-first services-service-right-block-first">
              <div
                class="services-service-right-block-first-item"
                *ngFor="let service_cat of services_cat"
                (click)="onSelectServiceCat(service_cat)">
                {{service_cat.title}}
              </div>
            </div>
          </div>


          <span class="services-count-result responsive">
            Добавлено:
            <span class="bold"> {{priceAndCount.totalCount}} </span> &nbsp;  услуги на сумму
            <span class="bold"> {{priceAndCount.totalPrice}} </span>
            <span><img src="assets/images/icons/ruble.png"></span>
          </span>
        </div>


        <div class="nav-bottom services-service-bottom bordered">
          <a (click)="goBack()" class="semi-bold pull-left">
            <div
              class="back nav-bottom-back nav-bottom-item services-service-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </a>


          <span class="services-count-result">
            Добавлено:
            <span class="bold"> {{priceAndCount.totalCount}} </span> &nbsp; услуги на сумму
            <span class="bold"> {{priceAndCount.totalPrice}} </span>
            <span><img src="assets/images/icons/ruble.png"></span>
          </span>
          <a (click)="goNext()" class="semi-bold pull-right">
            <div
              class="next nav-bottom-next nav-bottom-item services-service-bottom-item address-master-bottom-next pull-right">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
