<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose()"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">
        <app-header-nav></app-header-nav>

        <div class="choose-options-content master-master-content bordered clearfix">

          <app-loader [ngStyle]="loaderStyle()" *ngIf="loader"></app-loader>

          <app-sidebar></app-sidebar>

          <div class="content-right-block master-master-right-block">
            <div class="masters-list">
              <div
                (mouseover)="hoverStyleOn(master)" (mouseleave)="hoverStyleOff()"
                class="masters-list-item"
                *ngFor="let master of masters"
                (click)="onSelectMaster(master)"
                [ngStyle]="ngStyleMethod(master)">
                <label class="masters-list-item-label">
                  <br>
                  <div class="master-pic-container-main">

                    <svg [ngStyle]="(isActive(master) && wrappedStyle()) && {'background-color': color} " class="selectedEmployee" version="1.1" id="XMLID_2_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
	 viewBox="0 0 5.9177 3.9613" enable-background="new 0 0 5.9177 3.9613" xml:space="preserve">
<path id="tick" fill="#FFFFFF" d="M2.4657,3.9613c-0.1263,0-0.2521-0.0485-0.3484-0.1452L0.1448,1.8355
	c-0.1931-0.1932-0.1931-0.5066,0-0.7c0.1924-0.1935,0.5045-0.1935,0.6972,0l1.6237,1.6306l2.6103-2.621
	c0.1922-0.1934,0.5043-0.1934,0.6972,0c0.1926,0.1935,0.1926,0.5068,0,0.7001l-2.9591,2.971
	C2.718,3.9128,2.5919,3.9613,2.4657,3.9613z"/>
</svg>

                    <!--<img src="assets/images/icons/master-checked-icon.png" [ngStyle]="isActive(master) && {'opacity': 1}" class="master-checked-tick">-->
                    <div class="master-pic-container"
                         [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + master.photo + ')'}">
                    </div>
                  </div>
                  <div class="master-list-item-text-block">
                    <p class="master-list-item-name bold">{{master.first_name}} {{master.last_name}}</p>
                    <p class="master-list-item-position">{{master.position.title}}</p>
                  </div>
                  <span class=""></span>
                </label>
              </div>


            </div>
          </div>
        </div>
        <div class="nav-bottom address-master-bottom bordered">
          <button (click)="goBack()" class="semi-bold pull-left">
            <div
              class="back nav-bottom-back nav-bottom-item address-master-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </button>
          <button (click)="goNext()" class="semi-bold pull-right">
            <div
              [ngStyle]="radioStyle()"
              class="next nav-bottom-next nav-bottom-item address-master-bottom-item address-master-bottom-next pull-right">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
