<div class="page" *ngIf="!interrapt">
  <div class="page-wrapper">
    <div class="page-inner-wrapper">
      <a (click)="onClose()"><img src="assets/images/svg/close-gray.svg" class="close-gray"></a>
      <div class="page-container address-master">
        <app-header-nav></app-header-nav>

        <div class="choose-options-content master-master-content bordered clearfix">


          <app-sidebar></app-sidebar>

          <div class="content-right-block master-master-right-block">
            <div class="masters-list">


              <div

                class="masters-list-item"
                *ngFor="let master of masters; let i = index"
                (click)="onSelectMaster(master)"
                [class.active]="isActive(master)">
                <label class="masters-list-item-label">
                  <!--<input type="checkbox">-->
                  <br>
                  <div class="master-pic-container-main">
                    <img src="assets/images/icons/master-checked-icon.png" class="master-checked-tick">
                    <div class="master-pic-container" [ngStyle]="{'background-image': 'url(http://api.avisits.com/' + master.photo + ')'}">
                      <!-- <img src="assets/images/master-pic.png"> -->
                    </div>
                  </div>
                  <div class="master-list-item-text-block">
                    <p class="master-list-item-name bold">{{master.first_name}} {{master.last_name}}</p>
                    <p class="master-list-item-position">{{master.position.title}}</p>
                  </div>
                  <span class=""></span>
                </label>
              </div>





            </div>
          </div>
        </div>
        <div class="nav-bottom address-master-bottom bordered">
          <button (click)="goBack()" class="semi-bold pull-left">
            <div
              class="back nav-bottom-back nav-bottom-item address-master-bottom-item address-master-bottom-back pull-left">
              <img src="assets/images/svg/arrow.svg">
              Назад
            </div>
          </button>
          <button (click)="goNext()" class="semi-bold pull-right">
            <div
              class="next nav-bottom-next nav-bottom-item address-master-bottom-item address-master-bottom-next pull-right">
              Далее
              <img src="assets/images/svg/arrow-white.svg">
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-interrupt-record *ngIf="interrapt"></app-interrupt-record>
